h3.LC20lb.MBeuO.DKV0Md      { margin-top: -15px;                  } /* spacing between search results */

div[id^='eob_']             { display: none;                      } /* People also search for */
.hlcw0c                     { margin-bottom: 0px !important;      } /* space after hidden sections */
.logo                       { left: -193px;                       } /* align logo with sidebar */

/* LINKS/TITLE */
.FxLDp                      { padding-left: 0;                    } /* sometimes the first entry has an undesired pad */
h3.LC20lb.MBeuO.DKV0Md      { display: block;                     } /* force (some) links from side to bellow title */
.yuRUbf > a                 { position: relative; top: -13px;     }
.tjvcx                      { color: green; font-size: 14px;    } /* link */
.TbwUpd.NJjxre              { margin-top: -2px; padding-top: 0;
                              position: inherit;                  } /* link bellow title */
.H9lube, .VuuXrf            { display: none;                      } /* hide icon and title */
[jscontroller="exgaYe"]     { display: none;                      } /* 3 dots actions hide icon and title */
.Z26q7c.UK95Uc.jGGQ5e       { margin-bottom: -4px;                }


