.csDOgf, .eFM0qc            { display: none;                     } /* tree dots for more info */
.g                          { margin-top: -15px;                 } /* spacing between search results */
.hlcw0c                     { margin-bottom: 0!important;        } /* space after hidden sections */
.logo                       { left: -193px;                      } /* align logo with sidebar */
/* LINKS/TITLE */

.FxLDp                      { padding-left: 0;                   } /* sometimes the first entry has an undesired pad */
h3.LC20lb.MBeuO.DKV0Md      { display: block;                    } /* force (some) links from side to bellow title */
.yuRUbf > a                 { position: relative; top: -10px;    }
.iUh30.tjvcx, .qLRx3b.tjvcx { color: green;                    }
.TbwUpd.NJjxre              { padding-top: 0; position: inherit; }
